<html>
    <head>
        <title>Simple Form</title>
    </head>
    <body>
        <div class = 'form'>
            <form method = 'POST' action=''>
                {{ form.hidden_tag() }}
                <br>
                {{ form.first_name.label }} {{ form.first_name }}
                <br><br>
                {{ form.last_name.label }} {{ form.last_name }}
                <br><br>
                {{ form.age.label }} {{ form.age }}
                <br><br>
                {{ form.dob.label }} {{ form.dob }}
                <br><br>
                {{ form.hobby.label }} {{ form.hobby }}
                <br><br>
                {{ form.submit }}
            {{ message }}
            </form>
        </div>
    </body>
</html>